# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


# Ignorados específicos do url-shortner-frontend
# Compiled output -- front
dist
tmp
out-tsc
bazel-out

# Node modules and dependency files -- front
node_modules
package-lock.json
yarn.lock

# Logs -- front
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors -- front
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code -- front
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous -- front
.angular/cache
.sass-cache/
connect.lock
coverage
libpeerconnection.log
testem.log
typings


# System files -- front
.DS_Store
Thumbs.db

e2e/test-output/
/.angular/

# Angular CLI and build artefacts -- front
.angular-cli.json
.ng/

# TypeScript cache -- front
*.tsbuildinfo

# Ignorados específicos do url-shortner-backend

# Arquivo auxiliar
HELP.md

# Diretórios de build e empacotamento
target/
.mvn/wrapper/maven-wrapper.jar

# Exceções para builds dentro de src
!**/src/main/**/target/
!**/src/test/**/target/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# Exceções para builds dentro de src
!/**/src/main/**/build/
!/**/src/test/**/build/

### Visual Studio Code ###
.vscode